@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap");
@font-face {
     font-family: "Good Times";
     src: url("./fonts/good-times/good-times-rg.otf");
}

* {
     margin: 0;
     padding: 0;
}

html {
     background: #f5f7fa;
     overflow: hidden;
}
